{% extends 'employees/base.html' %}

{% block title %}Employee List{% endblock %}

{% block content %}
<h2>Employee List</h2>
 <div class="row">
        <div class="col-md-6 mb-2">
            <form action="{% url 'employee_list' %}" method="GET" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ search_query }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Salary</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employee_list %}
      <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.mobile }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.salary }}</td>
        <td>
            <a href="{% url 'edit_employee' employee.id %}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'employee_detail' employee.id %}" class="btn btn-info btn-sm">View</a>
            <a href="{% url 'delete_employee' employee.id %}" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
